@import '../../../css/main'

.NavigationHeader
  li
    color rgb(0,0,0)
    padding 0 30px
    float right
  .side-nav-header
    font-variant small-caps
    padding-top 15px
    font-size 1.5rem
  .switch label input[type=checkbox]:checked + .lever {
      background-color darkest-blue
    }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color darkest-blue
  }
  label
    font-size 1rem
    color black
  .button-collapse
    float right
    padding-right 15px