@import '../../../css/main'

.Profilitem {
  background-color dark-blue !important
  color sand
  font-size large
  margin 15px !important
  padding 20px !important
  border-bottom hidden !important

  .switch label input[type=checkbox]:checked + .lever {
    background-color darkest-blue
  }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color darkest-blue
  }
}