@import '../../../css/main'

.Profilitem {
  .switch label input[type=checkbox]:checked + .lever {
    background-color darkest-blue
  }
  .switch label input[type=checkbox]:checked + .lever:after {
    background-color darkest-blue
  }
}