@import '../../../css/main'

myBlack = rgb(0, 0, 0)

.Intentcard
  i
    font-size 50px
  p
    font-size 1.25rem
    font-variant small-caps
  .card-panel
    padding-bottom 1px
  .darkest-blue
    background-color darkest-blue !important
    color sand
  .dark-blue
    background-color dark-blue !important
    color sand
  .blue
    background-color blue !important
    color darkest-blue
  .light-blue
    background-color light-blue !important
    color darkest-blue
