@import '../../../css/main'

.NavigationCompass
	.nav-icon-wrapper
		text-align center
		margin 80px 0
	.nav-icon
		font-size 8rem
		color darkest-blue
	.nav-icon-extra
		float right
		font-size 3rem
		margin-right 10px
		color darkest-blue
		border-style dotted
		border-width 2px
		border-color darkest-blue
		padding 5px
	.next-target
		font-size 1.6rem
		text-align center
		color darkest-blue
	.next-distance
		font-size 1.6rem
		text-align center
		color darkest-blue
